//variables

//screen breaking points
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;


//primary colors
$primary-brainFlix-black: #323232; //Primary text color.
$primary-brainFlix-blue: #0095FF; //Primary CTA color. Active form field outline color.
$primary-brainFlix-silver: #AFAFAF; //Seconday text color. Text Label color.
$primary-brainFlix-white: #FFFFFF; //Background color. CTA text color.

//secondary colors
$secondary-brainFlix-darkBlack: #000000; //Video player components.
$secondary-brainFlix-darkBlue: #0065AD; //CTA hover state color. 
$secondary-mercury: #E1E1E1; //Divider line. Form field outline color.
$secondary-alabaster: #FAFAFA; //Form field background color.

