@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography';


.upload{
    background-color: $primary-brainFlix-white;
    border-top: .0625rem solid $secondary-mercury;
    @include tablet{
        padding: 1rem 2rem 1rem 2.2rem;
    }
    @include desktop{
        padding: 1rem 8rem 1rem 8.25rem;
    }
    &__heading{
        color: $primary-brainFlix-black;
        @include font-page-header;

        @include tablet{
            @include font-page-header-dt;

        }
        @include desktop{

        }
    }
    &__form{
        @include tablet{
            border-top: .0625rem solid $secondary-mercury;
            border-bottom: .0625rem solid $secondary-mercury;
        }
        @include desktop{

        }
        
    }
    &__container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        @include desktop{
            flex-direction: row;

        }   

    }
    &__thumbnail-label{
        color: $primary-brainFlix-silver;
        @include font-button-label;
        @include tablet{
            @include font-button-label-dt;
        }
        @include desktop{
            
        }

    }
    &__thumbnail{
        width: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;
        border-radius: .25rem;
    }

    &__text-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    }
    &__label-title{
        color: $primary-brainFlix-silver;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        @include font-button-label;
        @include tablet{
            @include font-button-label-dt;
        }
        @include desktop{
            
        }

    }
    &__input-title{
        background-color: $secondary-alabaster;
        border: .0625rem solid $secondary-mercury;
    }
    &__label-description{
        color: $primary-brainFlix-silver;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        @include font-button-label;
        @include tablet{
            @include font-button-label-dt;
        }
        @include desktop{
            
        }

    }
    &__input-description{
        background-color: $secondary-alabaster;
        border: .0625rem solid $secondary-mercury;

    }
    &__buttons{
        display: flex;
        flex-direction: column;

        @include tablet{
            flex-direction: row;
            justify-content: flex-end;
        }

    }
    
    &__publish-button{
        background-color: $primary-brainFlix-blue;
        color: $primary-brainFlix-white;
        border-radius: .25rem;
        width: 100%;
        @include font-button-label;
        @include tablet{
            &:nth-child(1) { order: 2; }
            width: 17%;
            @include font-button-label-dt;
        }
        @include desktop{
            width: 12%;
        }
        
        
    }
    &__publish-icon{

    }
    &__cancel-button{
        border: none;
        background-color: $primary-brainFlix-white;
        color: $primary-brainFlix-blue;
        @include font-button-label;
        @include tablet{
            @include font-button-label-dt;
            &:nth-child(2) { order: 1; }
        }
        @include desktop{
            
        }
    }
}