@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography';

.next-videos{
    background-color: $primary-brainFlix-white;
    padding: 0 1rem .375rem 1rem;
    @include tablet{
        padding: 1rem 2.35rem;
    }
    @include desktop{
        padding-left: 1.5rem;
        width: 107%;
    }
    
    &__heading{
        margin-block-start: 0;
        margin-block-end: 0;
        border-top: .0625rem $secondary-mercury solid;
        color: $primary-brainFlix-silver;
        padding: 1rem 0;

        @include font-button-label;
        @include tablet {
            @include font-button-label-dt;
        }
        @include desktop {
            border-top: none;
            
        } 
    }
}
.next-video{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 1rem;
    @include tablet {
        padding-bottom: 1.5rem;
        
    } 
    @include desktop {
        padding-bottom: 1.5rem;
        
    } 
}