@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography';

.header{
    padding: 0rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $primary-brainFlix-white;
    border-bottom: .0625rem solid $secondary-mercury;

    @include tablet {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 2.35rem;
    }
    @include desktop { 
        padding: 1rem 9rem 1rem 8rem;
    }
    &__nav{
        width: 100%;
        text-align: center;
        @include tablet{
            text-align: left;   
        }

    }
    &__nav-list{
        list-style-type: none;
        padding-inline-start: 0;
        margin-block-start: 0;
        margin-block-end: 0;

        @include tablet{
            display: flex;
            align-items: center
           
        }
    }
    &__nav-item{  
         
        
    }

    &__logo{
        margin-top: 1rem;   
        max-height: 7.813vw;
        max-width: 37.500vw;

        @include tablet {
            max-height: 5.2vw;
            max-width: 15.625vw;
            margin-top: 0rem; 

        }
        @include desktop {
            max-width: 9.375vw;
            max-height: 3.125vw;
        }
    }

    &__div-mobile{
        width: 100%;
        max-height: 11vw;
        display: flex;
        margin-top: .75rem; 
        @include tablet { 
        margin-top: 0;
        justify-content: flex-end
        }
        
    }
    &__search-bar{
        width: 100%;
        display: flex;
        color: $primary-brainFlix-black;
        &::placeholder{
            color: $primary-brainFlix-black;
        }
        &:focus {
            outline: none;
        }
        @include tablet {
            width: 69%;
            justify-content: flex-end; 
            align-items: center;
        }

        @include desktop {
            width: 37%;
        }
    }

    &__search-input{
        padding: .48rem .625rem;
        width: 100%;
        @include font-form-label;
        background-color: $secondary-alabaster;
        border: .0625rem solid $secondary-mercury;
        border-radius: 0.25rem;
        background-image: url('../../assets/images/search.svg');
        background-position: 4% center;
        background-repeat: no-repeat;
        text-indent: 10%;
        &::placeholder{
            color: $primary-brainFlix-black;
            font-family: "Avenir";
        }
        @include tablet {
            padding: .6rem .625rem;
            background-position: 6% center;
            text-indent: 13%;
        }
        @include desktop {
            background-position: 8% center;
            padding: .6rem .625rem;
            text-indent: 15%;
        }
         
    }

    &__search-bar-dt{
        display: none;
    }
    &__avatar{
        border-radius: 50%;
        height: 11vw;
        max-width: 11vw;
        max-height: 11vw;
        width: 11vw;
        object-fit: cover;
        flex-shrink: 0;
        margin-left: 1rem;
        @include tablet {
            display: none;
        }

    }
    &__avatar-dt{
        display: none;

        @include tablet {
            border-radius: 50%;
            height: 5.2vw;
            max-height: 5.2vw;
            max-width: 5.2vw;
            width: 5.2vw;
            object-fit: cover;
            display: block;
            margin-left: 1.375rem;
        }
    
        @include desktop {
            height: 3.125vw;
            width: 3.125vw;
            max-width:3.125vw;
            max-height: 3.125vw;
            margin-left: 2rem;
        }
    }     
        
    &__button{
        margin-top: 1rem;   
        box-sizing: border-box;
        position: relative;
        background-color: $primary-brainFlix-blue;
        color: $primary-brainFlix-white;
        border-radius: 0.25rem;
        border: none;
        width: 100%;
        padding: .625rem;
        @include font-button-label;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        &:hover {
            background-color: $secondary-brainFlix-darkBlue;
        }

        @include tablet {
            margin: 0;
            width: 20.5vw;
            padding: .6rem;
            @include font-button-label-dt;
            margin-left: 1.375rem;
        }

        @include desktop {
            width: 11.75vw;
            margin-left: 1.675rem;
        }

    }

    &__upload-img{
        height: 1.2rem;
        margin-right: .3125rem;
        position: absolute; 
        left: .3125rem;
    }
}

a{
    color: inherit;
    text-decoration: none;
}