@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography';

.header{
    padding: 0.75rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $primary-brainFlix-white;

    @include tablet {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }
    @include desktop { 
    }

    &__logo{
        width: 38%;
        @include tablet {
            width: 14.25%;
            margin-left: 1.2rem;
            margin-right: 5.5rem;
            max-height: 5.2vw;
        }
        @include desktop {
            width: 9%;
            margin-left: 7.25rem;
            margin-right: 23rem;
        }
    }

    &__div--mobile{
        width: 100%;
        max-height: 11.5vw;
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
        @include tablet {
            display: none;
        }

        @include desktop {
            display: none;
        }

    }
    &__search-bar{
        width: 90%;
        display: flex;
        flex-direction: row;
        margin-right: 1rem;
        color: $primary-brainFlix-black;
        
        ::placeholder{
            color: $primary-brainFlix-black;
        }
        :focus {
            outline: none;
        }

    }

    &__search-input{
        padding: .48rem .625rem;
        width: 100%;
        @include font-form-label;
        background-color: $secondary-alabaster;
        border: .0625rem solid $secondary-mercury;
        color: $primary-brainFlix-black;
        border-radius: 0.25rem;
        background-image: url('../../assets/images/search.svg');
        background-position: 4% center;
        background-repeat: no-repeat;
        // background-size: 6.5%;
        text-indent: 10%;
        @include tablet {
            padding: .6rem .625rem;
            background-position: 6% center;
            // background-size: 7.375%;
            text-indent: 13%;
        }
        @include desktop {
            background-position: 8% center;
            padding: .6rem .625rem;
            // background-size: 7.75%;
            text-indent: 15%;
        }
        
        ::placeholder{
            color: $primary-brainFlix-black;
        }
        
    }

    &__search-bar-dt{
        display: none;
        @include tablet {
            width: 32.5%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        
        }

        @include desktop {
            width: 19%;
        }
    }
    &__avatar{
        border-radius: 50%;
        height: 11.5vw;
        max-width: 11.5vw;
        max-height: 11.5vw;
        width: 11.5vw;
        object-fit: cover;
        flex-shrink: 0;
        @include tablet {
            display: none;
        }

        @include desktop {
            display: none;
        }
    }
    &__avatar-dt{
        display:none;

        @include tablet {
            border-radius: 50%;
            height: 5.2vw;
            max-height: 5.2vw;
            max-width: 5.2vw;
            width: 5.2vw;
            object-fit: cover;
            display: block;
            margin-right: 1.4rem;

        }
    
        @include desktop {
            height: 3.125vw;
            width: 3.125vw;
            max-width:3.125vw;
            max-height: 3.125vw;
            margin-right: 8rem;

        }
    }     
        
    &__button{
        position: relative;
        margin: 1rem 0 .25rem 0;
        background-color: $primary-brainFlix-blue;
        color: $primary-brainFlix-white;
        border-radius: 0.25rem;
        border: none;
        width: 100%;
        padding: .625rem;
        @include font-button-label;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      

        @include tablet {
            margin: 0 ;
            width: 20.5%;
            padding: .6rem;
            @include font-button-label-dt
        }

        @include desktop {
            width: 12%;
            margin-right: 0;
            @include font-button-label-dt
        }

    }
    &__button-content > span{
        text-align: center;
        @include font-button-label;
        @include tablet {
            @include font-button-label-dt
        }
        @include desktop {
            @include font-button-label-dt
        }

    }
    &__upload-img{
        height: 1.2rem;
        margin-right: .3125rem;
        position: absolute; 
        left: .3125rem;
    }
    
}
