@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography';


.comments{
    color: $primary-brainFlix-black;
    background-color: $primary-brainFlix-white;
    padding: 0 1rem;
    @include tablet{
        padding: 0 2.35rem;
    }
    @include desktop{
        padding: 1rem 0rem 0 8rem;
    }

    &__counter{
        @include font-subheader;
        margin-block-start: 0;
        margin-block-end: 0;
        @include tablet{
            @include font-subheader-dt;
            margin-right: 2rem;
            margin-bottom: 0rem;

        }
        @include desktop{
            margin-right: 1rem;  
        }
    }

    &__form{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start; 
        padding-bottom: 1rem;
        width: 100%;
        margin-top: .875rem; 
        @include tablet{
            padding-bottom: 0.25rem;
        }
        @include desktop{
            margin-left: 0.75rem;  
        }
    }
    &__profile-img{
        border-radius: 50%;
        height: 11.5vw;
        max-width: 11.5vw;
        max-height: 11.5vw;
        width: 11.5vw;
        object-fit: cover;
        flex-shrink: 0;
        margin: 1.5rem 1rem 1rem 0rem;
        @include tablet{
            height: 5.2vw;
            max-height: 5.2vw;
            max-width: 5.2vw;
            width: 5.2vw;
        }
        @include desktop{
            height: 3.125vw;
            width: 3.125vw;
            max-width:3.125vw;
            max-height: 3.125vw;
            margin-right: 2.375rem;
        }

    }
    &__container{
        display: flex;
        flex-direction: column;
        width: 100%;
        @include tablet{
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;
        }
        @include desktop{
            width: 83.5%;
        }
    }
    &__input-label{
        display: flex;
        flex-direction: column;
        color: $primary-brainFlix-silver;
        width: 100%;
        @include font-button-label;
        @include tablet{
            @include font-button-label-dt;
            width: 72%;
        }
        @include desktop{
            width: 70%;
        }

    }
    &__input-message{
        color: $primary-brainFlix-black;
        font-family: "Avenir";
        @include font-form-label;
        background-color: $secondary-alabaster;
        border: .0625rem solid $secondary-mercury;
        height: 27vw;
        min-height: 27vw;
        border-radius: 0.25rem;
        padding: 0.25rem 0.75rem;
        margin: 0.25rem 0;
        @include tablet{
            height: 5.2vw;
            min-height: 5.2vw;
            padding: 0 0.75rem;
        }
        @include desktop{
            height: 3.125vw;
            min-height: 3.125vw;
        }
        &::placeholder{
            color: $primary-brainFlix-black;
            position: absolute;
            left: .75rem;
            top: .5rem;
            padding: 0.25rem;
            font-family: "Avenir";
        }
        &:focus{
            border: .125rem solid $primary-brainFlix-blue;
        }
    }
    &__button{
        position: relative;
        margin-top: .75rem;
        background-color: $primary-brainFlix-blue;
        border-radius: 0.25rem;
        border: none;
        color: $primary-brainFlix-white;
        width: 100%;
        padding: .5rem;
        max-height: 12.5vw;
        text-align: center;
        @include font-button-label;
        @include tablet{
            @include font-button-label-dt;
            width: 25%;
            height: 5.2vw;
            min-height: 5.2vw;
            margin: 0 0 0.275rem 1rem;
            padding: 0.625rem .5rem;

        }
        @include desktop{
            height: 3.125vw;
            min-height: 3.125vw;
            margin: 0 0 0.275rem 0 ;
            width: 25.5%;
        }
        &:hover {
            background-color: $secondary-brainFlix-darkBlue;
        }
    }
    &__add-img{
        height: 1.2rem;
        margin-right: .3125rem;
        position: absolute; 
        left: .625rem;
        @include tablet {
            left: 0.5rem;
        }
    }

    &__card{
        display: flex;
        border-top: .0625rem solid $secondary-mercury;
        padding-top: 0.875rem;
        @include tablet{
            padding-top: 1.25rem;
        }
        @include desktop{
            margin-left: 0.75rem;
            padding-top: 1.25rem;
        }
    }
    &__avatar {
        border-radius: 50%;
        height: 11.5vw;
        max-width: 11.5vw;
        max-height: 11.5vw;
        width: 11.5vw;
        object-fit: cover;
        flex-shrink: 0;
        margin: 0 1rem 1rem 0rem;
        background-color: $secondary-mercury;
        flex-shrink: 0;
        @include tablet {
            height: 5.2vw;
            max-height: 5.2vw;
            max-width: 5.2vw;
            width: 5.2vw;
        }

        @include desktop {
            height: 3.125vw;
            width: 3.125vw;
            max-width:3.125vw;
            max-height: 3.125vw;
            margin-right:2.375rem;
        }

    }
    &__body{
        display: flex;
        flex-direction: column;
        width: 100%;

    }
    &__header{
        display: flex;
        align-items: baseline;
        justify-content: space-between;

    }
    &__name{
        @include font-subheader;
        margin-block-start: 0;
        margin-block-end: 0;
        
        @include tablet{
            @include font-subheader-dt;
            margin-right: 2rem;
            margin-bottom: 0rem;

        }
        @include desktop{
            margin-right: 1rem;
        }

    }
    &__date{
        @include font-body-copy;
        color: $primary-brainFlix-silver;
        @include tablet {
            @include font-body-copy-dt;
        }
        @include desktop {
            padding-right: 1.5rem;  
        }

    }
    &__comment{
        @include font-body-copy;
        @include tablet {
            @include font-body-copy-dt;
            margin-block-start: .375rem;
        }
        @include desktop {
            padding-right: 1.5rem;
            margin-block-start: 0;
        }
    }
}

