@use 'styles/partials/variables' as *;
@use 'styles/partials/mixins' as *;
@use 'styles/partials/typography';


html,
body {
    margin: 0;
    padding: 0;
    font-family: "Avenir", Arial, Helvetica, sans-serif;
}


main{
  width: 100%;
}
 