@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography";

.video-page {
  width: 100%;

  &__desktop-div {
    @include desktop {
      display: flex;
      //   flex-direction: row;
      //   justify-content: center;
      //   align-items: flex-start;
    }
  }

  &__left-column {
    @include desktop {
      //   display: flex;
      //   flex-direction: column;
      //   align-items: flex-start;
      padding-top: 0.625rem;
      //   width: 64.2vw;
      width: 64.2vw;
    }
  }
  .next_videos {
    background-color: $primary-brainFlix-white;
    padding: 0 1rem 0.375rem 1rem;
    @include tablet {
      padding: 1rem 2.35rem;
    }
    @include desktop {
      padding-left: 1.5rem;
      padding-right: 0rem;
      //   width: 32.8vw;
      //   width: 35vw;
      border-left: 0.0625rem $secondary-mercury solid;
    }
  }
}
